extends layout

block content
    h2(class='centered') Welcome to #{title} -- your source for the very best music from artists appearing here soon!
    h3(class='centered') Some of our friends playing in town this week:
    #playBar
        div(id='play-buttons', class='btn-group')
            button(id='playPrev', class="btn btn-default pb")<i class="icon-backward"></i>
            button(id='playPlay', class="btn btn-default pb")<i class="icon-play"></i>
            button(id='playPause', class="btn btn-default pb")<i class="icon-pause"></i>
            button(id='playNext', class="btn btn-default pb")<i class="icon-forward"></i>
     ul(class='song-container')
        for val in artistTracks
            li(class='song-title')
                a(href=val.event_uri, target='_blank')!=val.displayName
            ul(class='trackList')
                for item in val.trackList
                    li(class='tracklist', data-track_id=item.foreign_id)= item.title
                else
                    li(class='tracklist') no tracks!
        else
            li no artist!
    
    #footer(class='container span10 offset1')
        small Powered by 
            a(href='http://soundkick.com') Soundkick
            |  ,&nbsp;
            |  <a href='http://echonest.com'>The Echo Nest</a>
            |  &nbsp;and&nbsp;
            |  <a href='http://rdio.com'>Rdio</a>
            
            