extends layout

block content
  h2(class='centered') Welcome to #{title} -- your source for the very best music from artists appearing here soon!
  h3(class='centered') Some of our friends playing in town this week:
  #playBar(class='centered')

  script(src='/scripts/soundmanager2.js')
  script(src='/scripts/initSoundManager.js')
  script(src='/scripts/echonestAPI.js')
