doctype html
html
  head
    meta(property="og:url", content="http://woodshed.cloudapp.net/radioplayer")
    meta(property="og:type", content="website")
    meta(property="og:title", content="Listen to artists who will be appearing in the Bay Area very soon.")
    meta(property="og:site_name", content="Woodshed Foundation Radio")
    meta(property="og:description", content="Streaming songs from artists playing soon in the San Francisco Bay Area. Click through for venue, ticket, and artist information. Sample new music, then see a show!")
    meta(property="fb:app_id", content="760436920745579")
    meta(property="og:image", content="http://woodshed.cloudapp.net/images/headphones.jpg")

    meta(property="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@WoodshedRadio")
    meta(name="twitter:creator", content="@Guidedog51")
    meta(name="twitter:title", content="Listen to artists who will be appearing in the Bay Area very soon.")
    meta(name="twitter:description", content="Streaming songs from artists playing soon in the San Francisco Bay Area. Click through for venue, ticket, and artist information. Sample new music, then see a show!")
    meta(name="twitter:image", content="http://woodshed.cloudapp.net/images/headphones.jpg")

    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    //link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css")
    //link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ladda-themeless.css')
    link(rel='stylesheet', href='/stylesheets/fileinput.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js')
    script(src='/scripts/shell.js')
    //script(src='/scripts/bootstrap.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
    script(src='/scripts/templates.js')
    script(src='/scripts/runtime.js')
    script(src='/scripts/spin.min.js')
    script(src='/scripts/ladda.js')
    script(src='/scripts/fileinput.js')
    script.
      window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        t._e = [];
        t.ready = function (f) {
          t._e.push(f);
        };
        return t;
      }(document, "script", "twitter-wjs"));


    script(src='//use.typekit.net/hwf0ocb.js')
    script try{Typekit.load();}catch(e){}
  body
    script.
      window.fbAsyncInit = function() {
        FB.init({
        appId      : '760436920745579',
        xfbml      : true,
        version    : 'v2.4'
        });
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    header( class='logo')
        img(src='/images/woodshedlogo.png')
    block content
    include modalconfirm.jade
    include modallogin.jade
    include modalupload.jade
    include modalmergeplaylists