doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    script(src='/scripts/shell.js')
    script(src='/scripts/bootstrap.js')

    script(src='//use.typekit.net/hwf0ocb.js')
    script try{Typekit.load();}catch(e){}
  body
    header( class='logo')
        img(src='/images/woodshedlogo.png')
    block content