div(id='modal-add-show', class='modal fade')
    div(class='modal-dialog')
        div(class='modal-content')
            div(class='modal-header')
                button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                h4(id='lblTitle', class='modal-title')  Add a show
            div(class='modal-body' style='display:block; overflow:auto;')
                div(class='col-md-12 center-block')
                    p Enter artist name, venue details, date, link, and select a track to upload.  Click upload to add track to playlist.
                form(id='add-show-form', class="form col-md-12 center-block form-signin", data-toggle='validator', role='form')
                    div(class="form-group")
                        input(id='artist-name', class="form-control input-xlarge", placeholder="Artist Name", name='artist_name', type="text", required, autofocus)
                    div(class="form-group")
                        input(id='artist-link', class="form-control input-xlarge", placeholder="Link to Artist page", name='artist_page_url', type="url", style='margin-bottom: 10px !important;', required, autofocus)
                    div(class="form-group")
                        input(id='artist-thumbnail-link', class="form-control input-xlarge", placeholder="Link to Artist image", name='artist_thumbnail_url', type="url", style='margin-bottom: 10px !important;')
                    div(class="form-group")
                        input(id='show-venue-name', class="form-control input-xlarge", placeholder="Venue name", name='venue_name', type="text", required, autofocus)
                    div(class="form-group")
                        textarea(id='show-perf-details', class="form-control input-xlarge", placeholder="Show details name", name='event_details')
                    div(class="form-group")
                        input(id='show-url', class="form-control input-xlarge", placeholder="Link to Venue page", name='venue_url', type="url")
                    div(class='form-group')
                        div(class='input-group')
                            label(id='add-show-date-button', for="add-show-performance-date" class="input-group-addon btn btn-default ladda-button", data-style='expand-left', data-spinner-color="#46a546")
                                span(class="ladda-label")
                                span(class="glyphicon glyphicon-calendar")
                            input(id='add-show-performance-date', type='text', class='date-picker form-control input-xlarge', name='event_date', placeholder='Show Date')
                    //div(class="form-group")
                    //    input(id='add-show-artist-thumbnail', class="form-control input-xlarge", placeholder="Artist thumbnail", name='track_name', type="text", required)
                    //div(class="form-group")
                    //    span(class='btn btn-success fileinput-button')
                    //        input(id='add-show-upload-track', type='file', name='add-show-files[]')
                    div(class="form-group")
                        button(class="btn btn-primary ladda-button", id='submit-show', type='submit')  Add Show

            div(class='modal-footer')
                div(class='col-md-12')
                    button(class="btn", data-dismiss="modal", aria-hidden="true") Cancel


