div(id='modal-upload', class='modal fade')
    div(class='modal-dialog')
        div(class='modal-content')

            form(id='file-upload-form', enctype="multipart/form-data" role="form")
                div(class='modal-header')
                    button(type='button', class='close', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                    h4(id='lblTitle', class='modal-title')  Upload Track
                div(class='modal-body')
                    #nowPlaying-upload(class='centered')
                        table
                            tr
                                td(class='thumb-cell')
                                    img(id='artist-thumbnail-upload', src='', class='img-circle artist')
                                td(class='description-cell')
                                    p(id='artist-name-upload')='artist currently playing'
                                    input(id='track-name-upload', class="form-control input-xlarge track-name-upload", placeholder="song currently playing", type="text", required)
                                    a(id='performance-link-upload', href='#', style='margin-left: 10px;')='link to performance page'
                            tr
                    span(class='btn btn-success fileinput-button')
                        input(id='upload-track', type='file', name='files[]')

                div(class='modal-footer')
                    div(class='col-md-12')
                        button(class="btn", data-dismiss="modal", aria-hidden="true") Cancel


