ul(class='showList', id='saved-show')
    for val in unlinkedSongs
        - var baseClass = 'tracklist track-playable'
        - var uploaded = val.track.track_url ? ' track-uploaded' : ''
        - baseClass = baseClass + uploaded
        li(class=baseClass, data-track_id=val.id, data-track_url=val.track.track_url, data-event_id=val.event.event_id)= val.track.title
