html {
    font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
  margin: 0;
  font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #00B7FF;
}

input[type='text'] {
    margin-bottom: 0px !important;
}

.merge-input {
    width: 300px;
    height: 34px;
}

.logo {
  text-align: center;  
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

#playBar li {
    list-style: none;
    line-height: 26px;
}

#playBar {
    padding-bottom: 30px;
    text-align: center;
}

#mergeBar {
    text-align: left;
    padding-bottom: 30px;
    /*width: 75%;*/
}

.btn-group {
    width: 120px!important;
    display: inline-block !important;
    padding-bottom: 0px !important;
}
#nowPlaying {
    width: 610px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0 auto;
}

#nowPlaying img {
    width: 250px;
    height: 250px;
}

.thumb-cell {
    width: 200px;
}

.description-cell {
    width: 400px;
}

#nowPlaying .artist {
    background-image: url('http://assets.sk-static.com/assets/default_images/huge_avatar/default-artist-798b09a.png');
    background-repeat: no-repeat;
    background-size: 150px auto;
}

#nowPlaying .woodshedw {
    /*background-image: url('../images/woodshedW.svg');
    background-repeat: no-repeat;
    background-size: 145px 122px;
    background-size: 120px;
    background-position-y: 25px;
    background-position-x: 15px;*/
    background-position-y: 15px;
}

.tracklist {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
    line-height: 20px !important;
}

#saved-list {
    min-width: 400px !important;
    padding-left: 40px !important;
    text-align: left !important;
    /*height: 400px !important;
    overflow: hidden !important;*/
}

#saved-list li:hover {
    background: #46a546;
    cursor: pointer;
}

.tracklist:hover {
    background: #46a546;
    cursor: pointer;
}

.track-playable {
    cursor: pointer;
    background-color: beige;
}

.track-uploaded {
    font-weight: bolder;
}

.track-playing {
    cursor: pointer;
    background-color: #46a546;
}

.song-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
}
.show-container {
    width: 45%;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
    display: inline-block;
    border: thin solid #46a546;
    margin-left: 20px;
}

#showContainer ul {
    min-height: 800px;
}

.showlist-container {

    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.song-title {
    font-weight: 600;
}

.song-title:hover {
    cursor: pointer;
    background-color: #46a546;
}

.playlist-active {
    border: thick solid greenyellow;
}

#playlist-name {
    width: 200px;
}

#login-message {
    display: none;
}

#saved-merge-playlists li:hover, #playlists-to-merge li:hover {
    background: #46a546;
    cursor: pointer;
}

#playlists-to-merge {
    min-height: 400px;
}

.crawler {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}
