html {
    font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.logo {
  text-align: center;  
}

.centered {
  text-align: center;
}

#playBar li {
    list-style: none;
    line-height: 26px;
}

.tracklist {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    margin-left: 45%;
    line-height: 20px !important;
}