html {
    font-family: "ff-enzo-web", Helvetica, Arial, sans-serif;
}

body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

.logo {
  text-align: center;  
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

#playBar li {
    list-style: none;
    line-height: 26px;
}

.tracklist {
    font-size: 14px;
    font-style: italic;
    text-align: left;
    margin-left: 10px;
    line-height: 20px !important;
}

.song-container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    overflow: hidden;
    overflow-y: scroll;
}

.song-title {
    font-weight: 600;
}